/*
* @Author: Administrator
* @Date:   2017-10-06 13:30:23
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-12 21:18:38
*/
@import url('base.css');
/* 头部开始 */
.header{
	width: 100%;
	height: 24px;
	background: #F6F6F6;
	border-bottom: 1px solid #ECECEC;
}
.headers{
	width: 1200px;
	height: 100%;
	/* background: red; */
	margin: 0 auto;
	/* float: left; */
}
.header-left-box{
	width: 144px;
	height: 24px;
	/* background: green; */
	float: left;
}
.header-left li{
	font-size: 12px;
	margin-left: 11px;
	padding-right: 10px;
    border-right: 1px solid #ECECEC;
    float: left;
    line-height: 24px;

}

.header-left a{
	color: #8895B4;
}
.header-left a:hover{
	color: #25B2FE;
}
.header-right-box{
	width: 430px;
	height: 24px;
	/* background: green; */
	float: right;
}
.header-right-wenzi li{
	font-size: 12px;
	margin-left: 6px;
	padding-right: 12px;
    float: left;
    line-height: 24px;
    position: relative;
}
.header1-zhe{
    width:100%;
    height:1px;
    position: absolute;
    top:100%;
    left:0;
}
.header1-box{
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 18px 0 12px 0;
    /*width: 160px;*/
    font-size: 14px;
    position: absolute;
    left:0;
    top: 25px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index:500;
    display: none;
    overflow: hidden;
}
.header1-box1{
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e4e4e4;
    margin: 5px 15px;
    color: #25b2fe;
    padding: 0 5px;
    float: left;
    display: block;
}
.header1-box1:hover{
    color: #fff;
    background-color: #25b2fe;
    border: 1px solid #25b2fe;
}
.header-right-wenzi li:first-child .header1{
    color:#E40077;
}
.header-right-wenzi li:hover>a{
    color: #25B2FE;
}
.header-right-wenzi li:hover .header1-zhe{
    background-color: #fff;
}
.header-right-wenzi li:first-child:hover{
    background: #fff;
}
.header-right-wenzi li:first-child{
    margin-left: 0px;
    padding-left:12px;
}
.header-right-wenzi li:hover a .header1{
    color: #25B2FE;
}
.header-right-wenzi li>img{
	display: block;
	float: left;
	margin-top: 5px;
}
.header-right-wenzi li:nth-of-type(2){
    margin-left: 0;
}
.header-right-wenzi li:nth-of-type(2){
    padding-right: 2px;
}
.header-right-wenzi li:nth-of-type(3),
.header-right-wenzi li:nth-of-type(4){
    padding-right: 6px;
}
.header-right-wenzi li:last-child{
    padding-right: 0;
}
.header-right-wenzi li>a{
	color: #888888;
    display: block;
    overflow: hidden;
    float: left;
}
.header1{
    float: left;
    margin-left: 2px;
}
.header-right-wenzi i{
    float: left;
    font-size: 12px;
}
.line{
    float: left;
    line-height:24px;
    font-size: 10px;
    color: #ddd;
}
.header-right-wenzi li .header2{
    display: block;
    height:100%;
    padding-left: 11px;
    padding-right: 10px;
}
.header-right-wenzi li:hover .header2{
    background-color: #fff;
}
.header2-box{
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 18px 0 12px 0;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index:555;
    float: left;
    min-width: 160px;
    display: none;
}
.header2-box img{
    display: block;
    width: 100px;
    height: 100px;
    margin:0 auto;
}
.header2-box p{
    margin: 0;
    text-align: center;
    line-height: 25px;
    color: rgb(51, 51, 51);
}
/* 头部结束 */
/* 搜索开始 */
.section1{
	width: 1200px;
	height: 92px;
	/* background: green; */
	margin: 0 auto;
}
.section1-left{
	width: 575px;
	height: 52px;
	/* background: yellow; */
	float: left;
	margin-top: 20px;
}
.section1-lefttu{
	width: 230px;
	height: 42px;
	/* background: red; */
	float: left;
	margin-top: 10px;
}
.section1-lefttu img{
	width: 100%;
	height: 100%;
	display: block;
}
.section1-leftwen{
	width: 43px;
	height: 25px;
	/* background: red; */
	float: left;
	margin-left: 22px;
	margin-top: 18.5px;
}
select{
    outline: none;
    border: 0;
    /* cursor:pointer */
}
.erbu-box-right{
	width: 575px;
	height: 57px;
	/* background: yellow; */
	float: right;
	margin-right: 50px;
	margin-top:15px; 
}
.erbu-box-right-sousuo{
	width: 575px;
	height: 36px;
   /*  background: red; */
    float: right;
    position: relative;
}
.mingzi{
	width: 560px;
	height: 32px;
	color: #99A5C2;
	font-size: 13px;
	padding-left: 12px;
}
.erbu-box-right-sousuo-wenzi{
	width: 85px;
	height: 100%;
	background: #25B2FE;
	position: absolute;
	right: 0;
	top: 0;
}
.sousuo-tubiao{
	width: 17px;
	height: 17px;
	/* background: red; */
	position: absolute;
	left: 16px;
	top: 10px;
}
.sousuo-wenzi{
	width: 28px;
	height: 12px;
	/* background: red; */
	position: absolute;
	right: 20px;
	top: 13px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 12px;
}
.sousuo-tubiao .iconfont{
	font-size: 17px;
	text-align: center;
	line-height: 17px;
	color: #fff;
}
.erbu-box-right-wenzi{
	width: 350px;
	height: 12px;
	/* background: red; */
	float: left;
	margin-top: 9px;
}
.erbu-box-right-wenzi ul li{
	font-size: 12px;
	padding-right: 20px;
	line-height: 12px;
	float: left;
}
.erbu-box-right-wenzi ul a{
	color: #666666;
}
.erbu-box-right-wenzi ul li a:hover{
	color: #25B2FE;
	padding-bottom: 1px;
	border-bottom: 1px solid #25B2FE;
}
.erbu-box-right-wenzi li:nth-child(1) a,
.erbu-box-right-wenzi li:nth-child(3) a,
.erbu-box-right-wenzi li:nth-child(6) a{
	color: #E40077;
}
/* 搜索结束 */
/* 导航开始 */
nav{
	width: 1200px;
	height: 40px;
	/* background: red; */
	margin: 0 auto;
	position: relative;
}
.nav-push{
	position: absolute;
	width: 100%;
	height:40px;
	left:0;
	top:40px;
	background-color: #fff;
	z-index:20;
    display: none;
}
.nav-push a{
	display: block;
	width:calc(100% / 7);
	height:100%;
	line-height:40px;
	text-align: center;
	color: #000;
	font-size: 14px;
    float: left;
}
.nav-push a:hover{
	color: #0085D1;
}
.nav-zuo{
	width: 160px;
	height: 39px;
	border-top: 1px solid #25B2FE;
	float: left;
	background: #E4E4E4;
	font-size: 16px;
	text-align: center;
	line-height: 39px;
	color: #0085D1;
}
.nav-zuo:hover{
	background: #F5F5F5;
}
.nav-zuo2{
	width: 259px;
	height: 40px;
	background: #E4E4E4;
    float: left;
    margin-left: 1px;
    font-size: 16px;
	text-align: center;
	line-height: 39px;
	color: #000;

}
.nav-zuo2:hover{
	background: #F3F3F3;
	color: #0085D1;
}
/* 导航结束 */
/* 侧导航开始 */
.beijing-box{
	width: 1200px;
	height: 365px;
	/* background: green; */
	margin: 0 auto;
}
.aside-box{
	width: 158px;
	height: 348px;
	/* background: red; */
    border: 1px solid #B8D9E9;
    margin-top: 5px;
    float: left;
}
.aside-wenzi-box{
	width: 138px;
	height: 32px;
	/* background: yellow; */
	margin: 0 auto;
	border-bottom: 1px solid #E9E9E9;
	font-size: 11px;
	text-align: center;
	line-height: 32px;
}
.aside-wenzi-box a{
	color: #333333;
}
.aside-wenzi-box a:hover{
	color: #0085D1;
}

.aside-wenzi1-box{
	width: 138px;
	height: 44px;
	/* background: yellow; */
	margin: 0 auto;
	border-bottom: 1px solid #E9E9E9;
	/* font-size: 13px;
	margin-left: 56px;
	line-height: 44px; */
}
/* .aside-wenzi1-box a{
	color: #333333;
}
.aside-wenzi1-box a:hover{
	color: blue;
} */
.wenzi1-tupian{
	width: 21px;
	height: 26px;
	/* background: yellow; */
	margin-left: 25px;
	margin-top: 11px;
	float: left;
}
.aside-wenzi1-box a{
	font-size: 13px;
	color:#333333;
	float: left;
	margin-left: 10px;
	line-height: 44px; 
}
.aside-wenzi1-box a:hover{
	color: #25B2FE;
}
.aside-box li:last-child{
	border-bottom: 0;
}
/* 侧导航结束 */
/* banner开始 */
.banner-box{
	width: 740px;
	height: 350px;
	/* background: red; */
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
}
.banner-box>li{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 740px;
	top: 0;
}
.banner-box img{
	display: block;
	width: 100%;
	height: 100%;
}
.banner-box>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.bashou-left{
	display: block;
	width: 30px;
	height: 68px;
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	left: 0;
	top: 0;bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 24px;
	color: #CBCBCB;
	text-align: center;
	line-height: 68px;
	cursor: pointer;
	z-index: 15;
}
.bashou-left:hover{
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.bashou-right{
	display: block;
	width: 30px;
	height: 68px;
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	right: 0;
	top: 0;bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 24px;
	color: #CBCBCB;
	text-align: center;
	line-height: 68px;
	cursor: pointer;
	z-index: 15;
}
.bashou-right:hover{
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.circle{
	position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 15;
    width: 150px;
    /* padding-left: 0; */
    margin-left: -75px;
    text-align: center;
    /* background: yellow; */
    height: 15px;
    display: flex;
    justify-content: space-between;
}
.circle li{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #ccc;
	opacity: 0.85;
	transition: 1s;
}

.banner-right-box{
	width: 276px;
	height: 348px;
	/* background: red; */
	float: right;
	margin-top: 5px;
	border: 1px solid #E9E9E9;
	position: relative;
}
.banner-right-tu-box{
	width: 276px;
	height: 183px;
	/* background: red; */
	float: left;
}
.banner-right-tu1-box{
	width: 92px;
	height: 83px;
	/* background: green; */
	float: left;
	display: block;
}
.tu1-box-tupian{
	width: 50px;
	height: 44px;
	/* background: yellow; */
	float: left;
	margin-left: 21px;
	margin-top: 4px;
}
.tu1-box-tupian img:hover{
	transform: scale(1.1,1.1);
}
.tu1-box-wenzi{
	width:100%;
	height: 12px;
	/* background: yellow; */
	float: left;
	/* margin-left: 11px; */
	margin-top: 11px;
	font-size: 12px;
	color: #000;
	text-align: center;
	line-height: 12px; 
}
.huafei{
	width: 223px;
	height: 12px;
	/* background: red; */
	margin-top: 12px;
	margin-left: 25px;
	float: left;
}
.huafei-left{
	width: 56px;
	height: 12px;
	/* background: green; */
	float: left;
	display: block;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
	color: #000;
}
.huafei-left:hover{
    text-decoration: underline;
}
.huafei-right{
	width: 40px;
	height: 12px;
	/* background: green; */
	float: right;
    font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: red;
}
.shurukuang{
	width: 235px;
	height: 36px;
	/* background: green; */
	float: left;
	margin-left: 22px;
	margin-top: 12px;
}
.shoujihao{
	width: 231px;
	height: 36px;
}
.shoujihao:focus{
	outline: none;
}
.qian{
	width: 236px;
	height: 36px;
	/* background: green; */
	float: left;
	margin-left: 22px;
	margin-top: 10px;
}
.qian li{
	width: 42px;
	height: 34px;
    /* background: red; */
    float: left;
    margin-right: 4px;
    border: 1px solid #DADADA;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 34px;
    padding-right: 0;
}
.qian li:hover{
	background: #E40077;
}
.qian li:hover a{
	color: #fff;
}
.qian li:last-child{
	margin-right: 0;
}
.qian li:nth-child(2){
	background: #E40077;
}
.qian li:nth-child(2) a{
	color: #fff;
}
.chongzhi{
	display: block;
	width: 90px;
	height: 35px;
	margin-top: 10px;
	background: #33acfb;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 1px;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	color: #fff;
}
/* banner结束 */
/* 尾部开始 */
footer{
	width: 1200px;
	height: 197px;
	/* background: yellowgreen; */
	margin: 0 auto;
	padding-top: 31px;
}
.footer1{
	width: 807px;
	height: 12px;
	margin: 0 auto;
}
.footer1 li{
    float: left;
    padding-right: 5px;
    border-right: 1px solid #8c338c;
    margin-left: 5px;
    font-size: 12px;
    line-height: 12px;
}
.footer1 li a{
    color: #666666;
}
.footer1 li:first-child{
	margin-left: 0;
}
.footer1 li:last-child{
	border-right: none;
	padding-right: 0;
}
.footer1 li:hover a{
	color: #33acfb;
	padding-bottom: 1px;
	border-bottom: 1px solid #33acfb;
}
.footer2{
	width: 589px;
	height: 12px;
	margin: 0 auto;
	margin-top: 20px;
}
.footer2 li{
	margin-left: 4px;
    font-size: 12px;
    line-height: 12px;
    float: left;
    color:#000000;
}
.footer2 li:first-child{
     margin-left: 0;
}
.footer2 li div{
	float: left;
	color:#000000;
}
.footer2 li a{
	float: left;
	color:#666666;
}
.footer2 li a:hover{
	color: #33acfb;
	padding-bottom: 1px;
	border-bottom: 1px solid #33acfb;
}
.footer3{
	width: 242px;
	height: 12px;
	margin: 0 auto;
	margin-top: 18px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}
.footer4{
	width: 432px;
	height: 12px;
	margin: 0 auto;
	margin-top: 24px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}
.footer5{
	width: 285px;
	height: 47px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	position: relative;
}
.footer5 .yanzheng{
	display: block;
	width: 128px;
	height: 47px;
	background: url('../img/1-1.png') no-repeat center center; 
	float: left;
}
.footer5 img{
	display: block;
	float: left;
	margin-top: 14px;
	margin-left: 23px;
}
.footer5 .jing{
	display: block;
	width: 112px;
	height: 12px;
	/* background: yellowgreen; */
	font-size: 12px;
	color: #666666;
	position: absolute;
	top: 19px;
	right: 0;	
	line-height: 12px;
	float: right;
}
.jing:hover{
	color: #33acfb;
	padding-bottom: 1px;
	border-bottom: 1px solid #33acfb;
}
/* 尾部结束 */
/* 底部开始 */
.section2{
	width: 1198px;
	height: 229px;
	border: 1px solid #dfdfdf;
	margin: 0 auto;
	margin-top: 10px;
}
.dibu1{
	float: left;
	margin-left: 35px;
}
.dibu1 li{
	font-size: 14px;
	line-height: 14px;
	margin-top: 15px;
	color: #666666;
}
.dibu1 li:first-child{
	margin-top: 27px;
}
.dibu1 li a{
	color: #666666;
}
.dibu1 li a:hover{
	color: #33acfb;
	padding-bottom: 1px;
	border-bottom: 1px solid #33acfb;
}
.dibu2{
	margin-left: 105px;
}
.dibu3{
	margin-left: 174px;
}
.dibu4{
	margin-left: 113px;
}
/* 底部结束 */
/* 优惠开始 */
.section3{
	width: 1170px;
    height: 160px;
    background: #dfdfdf;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
}
.section3box{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.youhui{
	width: 1170px;
	height: 160px;
	margin: 0 auto;
	font-size: 0;
	white-space: nowrap;
	position: absolute;
	left: 0;
	/* overflow: hidden; */
}
.youhui li{
	display: inline-block;
	width: 285px;
	height: 160px;
	margin-right: 10px;
	/* margin-left: 5px; */
	background: #fff;
}
.youhui1{
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	margin-left: 20px;
	margin-top: 10px;
}
.youhui2{
	font-size: 14px;
	line-height: 14px;
	color: #666666;
	margin-top: 7px;
	margin-left: 20px;
}
.youhui li img{
	display: block;
	width: 235px;
	height: 110px;
/* 	margin-bottom: 0; */
   /* margin-left: : 50px; */
   float: right;
}
.section3-left{
	display: block;
	width: 28px;
	height: 35px;
	background: #b6b6b5;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.section3-right{
	display: block;
	width: 28px;
	height: 35px;
	background: #b6b6b5;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
/* 优惠结束 */
/* 享优惠开始 */
.xiang{
	width: 1198px;
	height: 425px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
}
.xiangt{
	width: 1198px;
	height: 47px;
	border-bottom: 1px solid #dfdfdf;
}
.xiangt-left{
	margin-left: 25px;
	font-size: 14px;
	line-height: 47px;
	color: #0085d0;
	float: left;
}
.xiangt-right a{
	display: block;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
	float: right;
	margin-right: 26px;
	margin-top: 18px;
}
.xiangt-right a:hover{
	color: #33acfb;
	padding-bottom: 1px;
	border-bottom: 1px solid #33acfb;
}
.xiangb{
	height: 377px;
	width: 1198px;
	background: gold;
}
.xiangb-left{
	float: left;
}
.xiangb-right li{
	width: 299px;
	height: 188px;
	background: #fff;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	float: left;
	position: relative;
}
.xiangb-right li:nth-child(4),
.xiangb-right li:nth-child(5),
.xiangb-right li:nth-child(6){
	border-bottom: none;
}
.xiangb-right li:nth-child(2),
.xiangb-right li:nth-child(4),
.xiangb-right li:nth-child(6){
	background: #efefef;
}
.xiangb-right1{
	font-size: 18px;
	line-height: 18px;
	margin-top: 10px;
	margin-left: 20px;
	color: #000000;
}
.xiangb-right2{
	font-size: 14px;
	line-height: 14px;
	margin-top: 8px;
	margin-left: 20px;
	color: #66667d;
}
.xiangb-right li:nth-child(2) .xiangb-right1,
.xiangb-right li:nth-child(4) .xiangb-right1,
.xiangb-right li:nth-child(6) .xiangb-right1{
	color: #e50077;
}
.xiangb-right li:nth-child(2) .xiangb-right2,
.xiangb-right li:nth-child(4) .xiangb-right2,
.xiangb-right li:nth-child(6) .xiangb-right2{
	color: #8e8e8e;
}
.xiangb-right li img{
	position: absolute;
	right: 0;
	bottom: 0;
	transition: 0.5s;
}
.xiangb-right li img:hover{
	transform: translateX(-10px);
}
/* 享优惠结束 */
/* 买手机开始 */
.buy{
	width: 1198px;
	height: 428px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
	position: relative;
}
.buyb{
	position: absolute;
	top: 48px;
	width: 1198px;
	height: 380px;
	/* background: green; */
}
.buyb li{
	width: 298px;
	height: 380px;
	/* background: yellowgreen; */
	float: left;
	border-right: 1px solid #dfdfdf;
	position: relative;
}
.buyb li:last-child{
	width: 300px;
	border-right: none;
}
.buyb li:nth-child(2){
	width: 299px;
}
.buyb1{
	font-size: 14px;
	line-height: 14px;
	color: #000000;
	margin-left: 20px;
	margin-top: 25px;
}
.buyb2{
	font-size: 12px;
	line-height: 12px;
	color: #0085d0;
	margin-top: 7px;
	margin-left: 20px;
}
.buyb3{
	font-size: 18px;
	line-height: 18px;
	color: #ef33a2;
	margin-top: 22px;
	margin-left: 24px;
}
.buyb li img{
	position: absolute;
	right: 0;
	bottom: 0;
	transition: 0.5s;
}
.buyb li img:hover{
	transform: translateX(-10px);
}
.buyb4{
	width: 44px;
	height: 58px;
	background: url('../img/4-5.gif');
	position: absolute;
	top: 18px;
	right: 30px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.buyb5{
	width: 44px;
	height: 58px;
	background: url('../img/4-6.gif');
	position: absolute;
	top: 18px;
	right: 30px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
/* 买手机结束 */
/* 业务推荐开始 */
.yewu li:nth-child(2),
.yewu li:nth-child(4),
.yewu li:nth-child(6){
	background: #ffffff;
}
/* 业务推荐结束 */
/* 国资动态开始 */
.guozi{
	width: 1198px;
	height: 96px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
}
.guozit{
	width: 1158px;
	height: 26px;
	/* background: yellowgreen; */
	margin-top: 8px;
	margin-left: 13px;
}
.guozit-right{
	float: right;
	font-size: 12px;
	line-height: 12px;
	margin-top: 10px;
	color: #000000;
}
.guozib{
	width: 1083px;
	height: 38px;
	margin: 0 auto;
	margin-top: 11px;
	/* background: yellow; */
}
.guozib li{
	width: 484px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	margin-right: 114px;
	margin-bottom: 10px;
	/* background: red; */
	float: left;
}
.guozib li:nth-child(2),.guozib li:nth-child(4){
	margin-right: 0px;
}
.guozib1{
	width: 5px;
	height: 1px;
	background: #000000;
	margin-top: 7px;
	float: left;
}
.guozib2{
	display: block;
	color: #666666;
    margin-left: 10px;
    float: left;
}
.guozib3{
	float: right;
	color: #d5ccd5;
}
.guozib li a:hover{
	color: #0085d0;
}
/* 国资动态结束 */
/* 公告开始 */
.gong{
	width: 1198px;
	height: 36px;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid #dfdfdf;
    overflow: hidden;
}
.gong1{
	width: 22px;
	height: 15px;
	margin-top: 12px;
	margin-left: 20px;
	background: url('../img/gonggao.gif');
	float: left;
}
.gong2{
	display: block;
	float: left;
	font-size: 14px;
	line-height: 14px;
	margin-top: 12px;
	margin-left: 8px;
	color: #666666;
}
.gong2:hover{
	color: #0085d0;
	padding-bottom: 1px;
    border-bottom: 1px solid #0085d0;
}
.gong3{
	float: left;
	font-size: 14px;
	line-height: 14px;
	margin-top: 12px;
/* 	margin-left: 8px; */
	color: #666666; 
	float: left;
	/* width: 1px; */
}
.gong4{
	width: 5px;
	height: 1px;
	background: #0085d0;
	margin-top: 19px;
	margin-left: 13px;
	float: left;
}
.gong5{
	display: block;
	margin-left: 7px;
	 width: 270px;
	height: 14px;
	font-size: 14px;
	margin-top: 12px;
	line-height: 14px;
	color: #0085d0;
	float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.gong5:hover{
	padding-bottom: 1px;
    border-bottom: 1px solid #0085d0;
}
.gong6{
	float: left;
	font-size: 14px;
	margin-top: 12px;
	margin-left: 50px;
	line-height: 14px;
	color: #cfcccc;
}
.row{
    float: left;
    width: 75%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.row li{
    height:36px;
    float: left;
}
.gong7{
	width: 5px;
	height: 1px;
	background: #0085d0;
	margin-top: 19px;
	margin-left: 13px;
	float: left;
}
.gong8{
	display: block;
	float: left;
	font-size: 15px;
	/* margin-top: 12px; */
	margin-left: 140px;
	line-height: 38px;
	color: #0085d0;
	cursor: pointer;
    font-family: "宋体";
    font-weight:bold;
}
.gong9{
	display: block;
	float: left;
	font-size: 15px;
	/* margin-top: 12px; */
	margin-left: 18px;
	line-height: 38px;
	color: #0085d0;
	cursor: pointer;
    font-family: "宋体";
    font-weight:bold;
}
/* 公告结束 */
/* 扫黄开始 */
.sao{
	width: 38px;
	height: 118px;
	background: url('../img/6-1.jpg');
	position: fixed;
	right: 0;
	bottom: 180px;
}
.kefu{
	width: 38px;
	height: 118px;
	background: url('../img/6-2.gif');
	position: fixed;
	right: 0;
	bottom: 44px;
}
.kefu1{
	display: block;
	width: 86px;
	height: 22px;
	background: url('../img/6-3.gif');
	position: fixed;
	right: -28px;
	bottom: 104px;
	transition: 0.5s;
}
.kefu2{
	display: block;
	width: 86px;
	height: 22px;
	background: url('../img/6-4.gif');
	position: fixed;
	right: -28px;
	bottom: 74px;
	transition: 0.5s;
}
.kefu3{
	display: block;
	width: 86px;
	height: 22px;
	background: url('../img/6-5.gif');
	position: fixed;
	right: -28px;
	bottom: 44px;
	transition: 0.5s;
}
.kefu1:hover,.kefu2:hover,.kefu3:hover{
	right: 38px;
}
/* 扫黄结束 */